@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    border: none;
    outline: none;
}
:root {
    --blue: #39B6FD;
    --red : #E92E53;
    --gray: #555555;
    --card-shadow : 0 0 10px rgba(0, 0, 0, 0.3);
}
/* header styling start*/

#header nav{
    box-shadow: var(--card-shadow);
}

/* header styling start*/ 

/* main styling start*/
main h2{
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--gray);
}
/* main styling end*/

/* city section styling start*/
#city .card {
    position: relative;
    width: 15rem;
    height: 15rem;
    border: none;
    border-radius: 0;
    padding: 0;
    margin: 0;
    background-image: url(../img/city/tanger.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: var(--card-shadow);;
}
#city .card .card-img-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
}
#city .card .card-img-overlay:hover {
    background-color: rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease-in-out;
}
#city .card .card-img-overlay h5{
    color: #fff;
    font-size: 1.5rem;
    font-weight: 500;
}

/*  city section styling end*/


/*  ads section styling start*/
#ads .card {
    box-shadow: var(--card-shadow);
}
#ads .card .img-box{
    box-shadow: var(--card-shadow);
    height: 200px;
    background-repeat: none;
    background-size: cover;
    background-position: center;
}
#ads .card span{ 
    font-size: 1.2rem;
}
#ads .card p{ 
    font-size: 1rem;
    color: var(--gray);
}
#ads .card .card-body span{ 
    color: var(--red);
}
#ads .card .card-body h4{ 
    color: var(--gray);
    font-size: 1.5rem;
    font-weight: 700;
}
#ads .card .card-body h5{ 
    color: #000;
    font-size: 1rem;
    font-weight: 400;
}
#ads .card .card-body img{ 
    width: 20%;
}
#ads .card .card-body p{ 
    color: var(--gray);
    font-size: 0.8rem;
}
#ads .card .card-body h6{ 
    color: var(--red);
    font-weight: 600;
    font-size: 1rem;
}
/*  ads section styling end*/

/*  footer styling start*/
footer{
    background-color: #000;
    color: #fff;
}
/*  footer styling end*/


