@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    border: none;
    outline: none;
}
:root {
    --blue: #068FFF;
    --red : #E92E53;
    --gray: #555555;
    --card-shadow : 0 0 10px rgba(0, 0, 0, 0.3);
}
/* header styling start*/

#header nav{
    box-shadow: var(--card-shadow);
}

#header nav .nav-link{
    color: var(--gray);
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 1px;
    transition: all 0.5s ease-in-out;
}
#header nav .nav-link:hover{
    color: var(--red);
}
#header nav button{
    font-weight: 500;
    transition: all 0.5s ease-in-out;
}
#header nav #login{
    color: var(--red);   
    transition: all 0.5s ease-in-out;   
}
#header nav #login:hover{
    color: black;
}
#header nav #signup{
    background-color: var(--blue);
    color: #fff;
    padding: 0.5rem 2rem;
}
#header nav #signup:hover{
    background-color: #000;
    color: #fff; 
}
#hero h1 {
    font-size: 3.5rem;
    font-weight: 800;
    line-height: 1.5;
    margin-bottom: 1rem;
}
#hero h1 .blue{
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 1.5;
    color: var(--blue);
}
#hero h1 .red{
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 1.5;
    color: var(--red);
}

#hero p {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--gray);
    margin-bottom: 1rem;
}
#hero button {
    background-color: var(--red);
    color: #fff;
    border-radius: 0;
    border: none;
    padding: 0.5rem 2.5rem;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 1px;
    transition: all 0.5s ease-in-out;
}
#hero button:hover {
    background-color: var(--blue);
    color: #000;
}
/* header styling start*/ 

/* main styling start*/
main h2{
    font-size: 2rem;
    font-weight: 700;
    color: var(--gray);
}


/* main styling end*/

/* howTo section styling start*/
#howTo img {
    width: 30%;
}   
#howTo h5 {
    font-size: 1rem;
    font-weight: 500;
    color: var(--gray);
    margin: 1rem 0;   
}   
#howTo button {
    background-color: var(--red);
    color: #fff;
    border-radius: 0;
    border: none;
    padding: 0.5rem 2rem;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 1px;
    transition: all 0.5s ease-in-out;
}   

/* howTo section styling end*/

/* services section styling start*/
#services .col img {
    width : 30%;
}
#services .col h5{
    font-size: 1rem;
    font-weight: 500;
    color: var(--gray);
    margin: 1rem 0;   
}
#services button{
    background-color: var(--blue);
    color: #fff;
    border-radius: 0;
    border: none;
    padding: 0.5rem 2rem;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 1px;
    transition: all 0.5s ease-in-out;  
}
#services button:hover{
    background-color: var(--red);   
    color: #fff;
}   

/* services section styling end*/

/* city section styling start*/
#city .card {
    position: relative;
    width: 15rem;
    height: 15rem;
    border: none;
    border-radius: 0;
    padding: 0;
    margin: 0;
    background-image: url(../img/city/tanger.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: var(--card-shadow);;
}
#city .card .card-img-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
}
#city .card .card-img-overlay:hover {
    background-color: rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease-in-out;
}
#city .card .card-img-overlay h5{
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
}

/*  city section styling end*/


/*  ads section styling start*/
#ads .card {
    box-shadow: var(--card-shadow);
}
#ads .card .img-box{
    box-shadow: var(--card-shadow);
    height: 200px;
    background-repeat: none;
    background-size: cover;
    background-position: center;
}
#ads .card span{ 
    font-size: 1.2rem;
}
#ads .card p{ 
    font-size: 1rem;
    color: var(--gray);
}
#ads .card .card-body span{ 
    color: var(--red);
}
#ads .card .card-body h4{ 
    color: var(--gray);
    font-size: 1.5rem;
    font-weight: 700;
}
#ads .card .card-body h5{ 
    color: #000;
    font-size: 1rem;
    font-weight: 400;
}
#ads .card .card-body img{ 
    width: 20%;
}
#ads .card .card-body p{ 
    color: var(--gray);
    font-size: 0.8rem;
}
#ads .card .card-body h6{ 
    color: var(--red);
    font-weight: 600;
    font-size: 1rem;
}
/*  ads section styling end*/

/*  footer styling start*/
footer{
    background-color: #000;
    color: #fff;
}
/*  footer styling end*/


