@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    border: none;
    outline: none;
}
:root {
    --blue: #068FFF;
    --red : #E92E53;
    --gray: #555555;
    --card-shadow : 0 0 10px rgba(0, 0, 0, 0.3);
}
/* general stylign start */
header nav #signup, #hero button,#howTo button,#services button,
#city button,#ads button,#contact button {
    color: #fff;
    border-radius: 0;
    border: none;
    padding: 0.8rem 2rem;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 1px;
    transition: all 0.5s ease-in-out;
}
/* general stylign start */

/* header styling start*/

#header nav{
    box-shadow: var(--card-shadow);
}

#header nav .nav-link{
    color: var(--gray);
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 1px;
    transition: all 0.5s ease-in-out;
}
#header nav .nav-link:hover{
    color: var(--red);
}
#header nav #login{

    color: #000;
    transition: all 0.5s ease-in-out;
}
#header nav #login:hover{
    color: black;
}
#header nav #signup{
    background-color: var(--red);
    padding: 0.5rem 2rem;
}
#header nav #signup:hover{
    background-color: #000;
    color: #fff;
}

/* header styling end */

/* hero section styling start */
#hero {
    background-image: url(../img/bg-2.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#hero h1, #hero h1 .red, #hero h1 .blue {
    font-size: 3.5rem;
    font-weight: 800;
    line-height: 1.5;
    margin-bottom: 1rem;
}
#hero h1 .blue{
    color: var(--blue);
}
#hero h1 .red{
    color: var(--red);
}

#hero p {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--gray);
    margin-bottom: 1rem;
}
#hero button {
    background-color: var(--red);
}
#hero button:hover {
    background-color: var(--blue);
    color: #000;
}
/* hero section styling end*/

/* main styling start*/
main h2{
    font-size: 2rem;
    font-weight: 700;
}


/* main styling end*/

/* howTo section styling start*/
#howTo img {
    width: 30%;
}
#howTo h5 {
    font-size: 1rem;
    font-weight: 500;
    color: var(--gray);
    margin: 1rem 0;
}
#howTo button {
    background-color: var(--red);
}

/* howTo section styling end*/

/* services section styling start*/
#services .col img {
    width : 30%;
}
#services .col h5{
    color : var(--gray);
    font-size: 1rem;
    font-weight: 500;
    margin: 1rem 0;
}
#services button{
    background-color: #000;
}
#services button:hover{
    background-color: var(--red);
    color: #fff;
}

/* services section styling end*/

/* city section styling start*/
#city .card {
    position: relative;
    width: 15rem;
    height: 15rem;
    border: none;
    padding: 0;
    margin: 0;
    background-image: url(../img/city/tanger.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: var(--card-shadow);;
}
#city .card .card-img-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
}
#city .card .card-img-overlay:hover {
    background-color: rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease-in-out;
}
#city .card .card-img-overlay h5{
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
}

/*  city section styling end*/


/*  ads section styling start*/
#ads {
    background-image: url(../img/Curve\ Line.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#ads .col .card {
    box-shadow: var(--card-shadow);
    
}
#ads .card .wrapper{
    box-shadow: var(--card-shadow);
    width: 100%;
    height: 15rem;
    overflow: hidden;
}
#ads .card .wrapper .img-box{
    width: 100%;
    height: 100%;
    background-repeat: none;
    background-size: cover;
    background-position: center;
}
/* zoom the background-image on hover  */
#ads .card .wrapper .img-box:hover{
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
}
#ads .card span{
    font-size: 1.2rem;
}
#ads .card p{
    font-size: 1rem;
    color: var(--gray);
}
#ads .card .card-body span{
    color: var(--red);
}
#ads .card .card-body h4{
    color: var(--gray);
    font-size: 1.5rem;
    font-weight: 700;
}
#ads .card .card-body h5{
    color: #000;
    font-size: 1rem;
    font-weight: 400;
}
#ads .card .card-body img{
    width: 1.5rem;
}
#ads .card .card-body p{
    color: var(--gray);
    font-size: 0.8rem;
}
#ads .card .card-body h6{
    color: var(--red);
    font-weight: 600;
    font-size: 1rem;
}
#ads button {
    background-color: #000;
}
#ads button:hover {
    background-color: var(--red);
}
/*  ads section styling end*/

/*  contact section styling start */
#contact .container{
    border-radius: 5px;
    box-shadow: var(--card-shadow);
}
#contact .row span {
    font-size: 2rem;
    color: var(--red);
}

#contact form label {
    color : var(--gray);
}
#contact form input, #contact form textarea{
    border-radius: 0;
    padding: 0.8rem 0.5rem;
    border: 1px solid var(--gray);
}
#contact form button{
    background-color: var(--red);
}
#contact form button:hover{
    background-color: #000;
}
/*  contact section styling end*/

/*  footer styling start*/

footer .skewed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    background-color: #000;
    transform: skewY(-2deg);
    z-index: -1; /* Ensure the skewed background is behind other elements */
}

footer .footer-navigation {
    background-color: var(--red);
    color: #fff;
    position: relative;
    z-index: 1; /* Ensure the navigation is on top */
    overflow: hidden;
}

footer .footer-navigation p span {
    /* Style the <span> element inside the navigation paragraph */
    font-weight: bold;
}

/* Style the social media icons */
footer .footer-navigation .d-flex i {
    font-size: 20px;
    color: #fff;
}

footer .copyrights {
    background-color: var(--gray);
    color: #fff;
}
/*  footer styling end*/



/* create a breakpoint for mobile devices */
@media screen and (max-width: 768px) {
    #hero .row {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    /* make the second child of the row class take the first place */
    #hero .row div:nth-child(2) {
        order: -1;
    }
    #hero h1, #hero h1 .red, #hero h1 .blue {
    font-size: 2rem;
    }
    #hero p {
        font-size: 1rem;
    }
    #hero img{
        width: 50%;
    }

    footer .skewed {
        transform: skewY(-5deg);
    }
}